html {
  background-color:lavender;
  font-family: Raleway;
}

#header {

  background-color:#6968B2;
  margin-top: 25px;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 7px;

}

#jessie {
  margin-top: 20px;
  margin-left: 20px;

}

#summary {

  position: absolute;
  margin-top: -115px;
  margin-left: 185px ;
  margin-right: 300px ;
  padding-right: 250px;
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
}

.navbar {
  background-color: #C8C8FF;
  color: gray;
  border-radius: 7px;
  padding: 15px;
}

.navlink {
  color: white;
  text-decoration: none;

}

.navlink:hover {
  color: #6968B2;
}

.social {
  float: right;
  position: relative;
  bottom: 150px;
  right: 125px;

}

a {
  color: white;
  text-decoration: none;
}


#contact {
  float: right;
  position: relative;
  bottom: 100px;
  right: 0px;
  border: 2px solid white;
  padding: 5px;

}

#contactlink {
  color: white;

}

.bodylink {
color: #393852;

}

.bodylink:hover {
 color: #6968B2;
}

h3 {
  text-align: center;
}

#container {
margin-left: 125px;
margin-right: 125px;
}

#blog {
color: #6968B2;
background-color: #C8C8FF;
;
width: 295px;
height: 300px;
margin-left: 25px;
margin-top: 30px;
padding: 10px;
border-radius: 15px;
}

.list {
list-style-type: circle;
}


#projects {
color: #6968B2;
background-color: #C8C8FF;
padding: 10px;
width: 295px;
height: 300px;
margin: 0 auto;
position: relative;
top: -320px;
border-radius: 15px;

}

#sites {
color: #6968B2;
background-color: #C8C8FF;
;
width: 295px;
height: 300px;
float: right;
position: relative;
top: -640px;
right: 25px;

padding: 10px;
border-radius: 15px;
}

#abouttext {
  color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
}