body {
  padding-top: 65px; 
  font-family: 'Raleway', sans-serif;

}

#first {
  background-image: url("imgs/20150222_125330.jpg");
  background-size: cover;
}

.backdrop {
  padding: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgba(0,0,0,0.4);
  /*opacity: 0.6;*/
  color: whitesmoke;
  text-align: center;
  border-radius: 5px;

}


#jessie {
  margin-top: 20px;
  margin-left: 20px;
  opacity: .8;
  border-radius: 10px;

}

#summary {
  opacity: .8;
}

#blog {
  background-color: black;
  color: whitesmoke;
  opacity: .9;
  height: 504px;
  padding: 65px;
}

#blog-list {
  padding: 50px;
}

#projects {
  background-image: url("imgs/20150222_124638.jpg");
  background-size: cover;
  /*background-color: rgba(74,115,152,1);*/
  height: 504px;
  padding: 65px;

}

#about {
  height: 504px;
  padding: 70px;
}

#about-text {
  padding: 100px;
}
/*.navbar {
  background-color: #C8C8FF;
  color: gray;
  border-radius: 7px;
  padding: 15px;
}

.navlink {
  color: white;
  text-decoration: none;

}

.navlink:hover {
  color: #6968B2;
}

.social {
  float: right;
  position: relative;
  bottom: 150px;
  right: 125px;

}

a {
  color: white;
  text-decoration: none;
}


#contact {
  float: right;
  position: relative;
  bottom: 100px;
  right: 0px;
  border: 2px solid white;
  padding: 5px;

}

#contactlink {
  color: white;

}

.bodylink {
color: #393852;

}

.bodylink:hover {
 color: #6968B2;
}

h3 {
  text-align: center;
}

#container {
margin-left: 125px;
margin-right: 125px;
}

#blog {
color: #6968B2;
background-color: #C8C8FF;
;
width: 295px;
height: 450px;
margin-left: 25px;
margin-top: 30px;
padding: 10px;
border-radius: 15px;
}

.list {
list-style-type: circle;
}


#projects {
color: #6968B2;
background-color: #C8C8FF;
padding: 10px;
width: 295px;
height: 450px;
margin: 0 auto;
position: relative;
top: -470px;
border-radius: 15px;

}

#sites {
color: #6968B2;
background-color: #C8C8FF;
;
width: 295px;
height: 450px;
float: right;
position: relative;
top: -940px;
right: 25px;

padding: 10px;
border-radius: 15px;
}

#abouttext {
  color: #6968B2;
  padding-left: 350px;
  padding-right: 300px;
  padding-top: 25px;


}*/