body {
  background-image: url("grass.jpg");
  font-family: Raleway;
}

h4 {
  color: white;
  font-size: 20pt;
  text-align: center;
  padding-left: 300px;
  padding-right: 300px;
  background-color: green;
}

p {
  color: white;
  background-color: green;
  text-align: center;
  font-size: 16pt;
}

#ball {
  height: 50px;
  width: 50px;
}


#ball_container {
  position: absolute;
  bottom: 0px;
  right: 0px;

}
#yard {
  height: 500px;
  width: 500px;
  margin: auto;
  border: solid black;
  position: relative;


}

#seven {
  position: absolute;
}

/*#gopher {
  height: 10%;
  width: 10%;

}*/