html {
        background-color: gray;
        color: white;
        font-family: Verdana;
      }

      h2 {
        text-align: center;
      }

      #names {
       text-align: center;

      }

      .people {
        border: 2px solid white;
        width: 200px;
        display: inline-block;
        text-align: center;
        margin-right: 50px;
        margin-left: 50px;

      }

      h4 {
        text-align: center;
      }

      p {
        text-align: left;
        margin-left: 75px;
        margin-right: 75px;
      }