---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Work with CoastWeb</div>
  </div>
  <HorizontalCard
  title="Let's chat"
  img="/post_img.webp"
  desc="We're open to new partnerships and interesting collaborations. All contracts start with a conversation, so let's chat."
  url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Specialists in Google Cloud including GKE"
    img="/post_img.webp"
    desc="From entire CMSs to video compression micro-services, we help customers migrate from (startup) Heroku or Vercel to (production) Google Cloud or AWS without downtime. Contact us when you are ready to scale."
    badge="Ask us how!"
    url="#"
  />
  <div class="divider my-0"></div>
  <!-- <HorizontalCard
    title="Service 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Service 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  /> -->
</BaseLayout>
