---
import { heroList } from "src/lib/HeroSliderList";
// 
---

<div id="heroMessageCarousel" class="relative w-full" data-carousel="slide">
        <!-- Carousel wrapper -->
    <div id="slides-container" class="relative h-16 mt-4 overflow-hidden rounded-[50px] flex bg-info bg-opacity-80">
        <div class="h-16">
        {heroList.map((message, index) => (
            <div
            class="flex h-full items-center justify-center bg-gray-400 dark:bg-gray-700"
            data-carousel-item=""
            data-active={index === 0 ? "true" : "false"}
            >
                <span class="lg:text-3xl text-lg text-center font-bold text-neutral p-2">
                    {message}
                </span>
            </div>
        ))}

    </div>
</div>


