---
import { heroList } from "src/lib/HeroSliderList";
---
<div class="hero-content bg-info absolute left-0 shadow-xl rounded-[50px] -m-20 py-8">
    <div class="text-5xl font-bold text-primary">CoastWeb</div>
</div>
<div id="heroMessageCarousel" class="relative w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div id="slides-container" class="relative h-16 mt-4 overflow-hidden rounded-[50px] flex items-center justify-center bg-info bg-opacity-80">
        <div class="h-16">
        {heroList.map((message, index) => (
            <div
            class="flex h-full items-center justify-center bg-gray-400 dark:bg-gray-700"
            data-carousel-item=""
            data-active={index === 0 ? "true" : "false"}
            >
                <span class="text-3xl font-bold text-neutral">
                    {message}
                </span>
            </div>
        ))}

    </div>
</div>


