---
import HorizontalCard from "../components/HorizontalCard.astro";

---
<div class="text-2xl py-1">Get my Model Context Protocol updates for curious developers delivered every other Friday.</div>
<div class="divider my-0"></div>
<div class="text-xl py-1">Already on Bluesky or have a self-hosted ATmosphere account?</div>
<div>
  <HorizontalCard
      title="Subscribe to email updates with subs.blue"
      img="/subscribe-btn-img.png"
      desc="Subscribe with an ATmosphere account on subs.blue to get posts directly in your email inbox."
      url="https://subs.blue"
      target="_self"
      badge="Email"
      />
</div>
<div>
  <HorizontalCard
  title="Subscribe on Bluesky with Leaflet.pub"
  img="/subscribe-w-bsky-btn.png"
  desc="Subscribe with a Bluesky account to see posts in your subscriptions feed"
  url="https://coastweb.leaflet.pub/"
  target="_self"
  badge="Bluesky"
  />
</div>
<div class="divider my-0"></div>

<div>
  <div class="text-xl py-1">No ATmosphere account? no worries </div>
  <div class="ml-embedded my-4" data-form="OTsj00"></div>
</div>